nav {
    .nav-wrapper {
        a.brand-logo {
            svg {
                height: 50px;
                padding-top: 5px;
            }
        }
    }
}

img {
    max-width: 100%;
    height: auto;
}

h1, h2, h3, h4, h5, h6 {
    font-weight: 900;
}

.inline-list {
    display: inline-flex;
}

.primary-color {
    background: $primary-color;
}

.primary-color-text {
    color: $primary-color;
}

.primary-color-light {
    background: $primary-color-light;
}

.primary-color-dark {
    background: $primary-color-dark;
}

.waves-effect.waves-primary .waves-ripple {
    background-color: rgba($color: $primary-color, $alpha: 0.65);
}

.bolder {
    font-weight: bolder;
}

.bold {
    font-weight: bold;
}

.text-justified {
    text-align: justify;
}