body {
    display: flex;
    min-height: 100vh;
    flex-direction: column;
    overflow-x: hidden;
    background-image: linear-gradient(rgba(0,0,0,0.5), rgba(0,0,0,0.5)), url(/assets/img/bg/ngongue-chima-header-mobile-bg.jpg?nf_resize=fit&h=640);
    background-size: cover;
    background-position: center;
    background-attachment: fixed;
    background-repeat: no-repeat;
    color: #444;
}

main {
    flex: 1 0 auto;
}

/* Small devices (portrait tablets and large phones, 600px and up) */
@media only screen and (min-width: 600px) {
    body {
        background-image: linear-gradient(rgba(0,0,0,0.5), rgba(0,0,0,0.5)), url(/assets/img/bg/ngongue-chima-header-mobile-bg.jpg?nf_resize=fit&h=768);
    }
}

/* Medium devices (landscape tablets, 768px and up) */
@media only screen and (min-width: 768px) {
    body {
        background-image: linear-gradient(rgba(0,0,0,0.5), rgba(0,0,0,0.5)), url(/assets/img/bg/ngongue-chima-header-bg.jpg?nf_resize=fit&w=1024);
        background-attachment: fixed;
    }
}

/* Large devices (laptops/desktops, 992px and up) */
@media only screen and (min-width: 992px) {
    body {
        background-image: linear-gradient(rgba(0,0,0,0.5), rgba(0,0,0,0.5)), url(/assets/img/bg/ngongue-chima-header-bg.jpg?nf_resize=fit&h=992);
        background-attachment: fixed;
    }
}

/* Extra large devices (large laptops and desktops, 1200px and up) */
@media only screen and (min-width: 1200px) {
    body {
        background-image: linear-gradient(rgba(0,0,0,0.5), rgba(0,0,0,0.5)), url(/assets/img/bg/ngongue-chima-header-bg.jpg?nf_resize=fit&w=1920);
        background-attachment: fixed;
    }
}

nav {
    a.brand-logo {
        svg {
            height: 60px;
            padding-top: 1rem;
        }
    }
}

img {
    max-width: 100%;
    height: auto;
}

h1, h2, h3, h4, h5, h6 {
    font-weight: 900;
}

.page-header {
    height: 80vh;

    .page-header-content {
        padding: 5rem 0;
    }
}

.section-content {
    padding: 3rem 0;

    .section-desc {
        padding: 3rem 0;
        margin-top: 1rem;
    }
}

.border {
    position: relative;
    margin-bottom: 3rem;
}

.border::before {
    content: "";
    position: absolute;
    left: 0;
    bottom: -1.5rem;
    width: 5.5rem;
    height: 3px;
    background-image: linear-gradient(90deg, $primary-color-light 0%, $primary-color 75%);
}

.border-white {
    position: relative;
    margin-bottom: 3rem;
}

.border-white::before {
    content: "";
    position: absolute;
    left: 0;
    bottom: -1.5rem;
    width: 5.5rem;
    height: 3px;
    background: #fff;
}

.primary-gradiante {
    background-image: linear-gradient(90deg, $primary-color-light 0%, $primary-color 50%, $primary-color-dark 75%);
}

.inline-list {
    display: inline-flex;
}

.primary-color {
    background: $primary-color;
}

.primary-color-text {
    color: $primary-color;
}

.primary-color-light {
    background: $primary-color-light;
}

.primary-color-light-text {
    color: $primary-color-light;
}

.primary-color-dark {
    background: $primary-color-dark;
}

.primary-color-dark-text {
    color: $primary-color-dark;
}

.waves-effect.waves-primary .waves-ripple {
    background-color: rgba($color: $primary-color, $alpha: 0.65);
}

.bolder {
    font-weight: bolder;
}

.bold {
    font-weight: bold;
}

.text-justified {
    text-align: justify;
}