/* -------------------------------- 

File#: _1_banner
Title: Banner
Descr: A CTA banner containing text + media
Usage: codyhouse.co/license

-------------------------------- */

.banner {
  position: relative;
  z-index: 1;
}

.banner__figure {
  height: 0;
  padding-bottom: 50%;
  transition: .3s var(--ease-out);
  background-position: center center;
  background-repeat: no-repeat;
  background-size: cover;
}

.banner__figure {
  height: 100%;
  padding-bottom: 0;
  clip-path: polygon(100px 0%, 100% 0%, 100% 100%, 50px 100%);
}

// invert variation
.banner--invert {
  .banner__figure {
    clip-path: polygon(0% 0%, calc(100% - 100px) 0%, calc(100% - 50px) 100%, 0% 100%);
  }
}

.banner__figure {
  transform: scale(1.05);
}