---
layout: default
title: "Sobre Nós"
---

{% include sobre/sobre.html %}

{% include sobre/historia.html %}

{% include sobre/equipe.html %}

<section class="section white-text">
    <div class="container">
        <div class="section-grid">
            <div class="section-content">
                <p class="bolder" style="font-size: x-large;">
                    <i class="fas fa-quote-left"></i> Conheça mais a fundo toda estrutura do negócio da marca Tia Maria, seja restaurantes, sítios de eventos, entre outros... <i class="fas fa-quote-right"></i></p>
    
                <span class="border"></span>
    
                <div class="section-desc">
                    <a href="/assets/uploads/planodeexpancao.pdf" class="btn-large white primary-color-text waves-effect waves-primary">Nosso Perfil <i class="fas fa-file-pdf"></i></a>      
                </div>
            </div>

            <article></article>
            <article></article>
        </div>
    </div>
</section>