---
layout: default
---

{% include home/servicos.html %}

{% include home/sobre.html %}

{% include home/restaurante.html %}

{% include home/historia.html %}

<section class="section primary-color white-text center">
    <div class="container section-content">
        <div class="section-grid">
            <p class="italic">Faça sua encomenda ou sua reserva no conforto da sua casa</p>

            {% include cta.html %}
        </div>
    </div>
</section>

{% include home/galeria.html %}

{% include home/contactos.html %}