<nav class="white primary-color-text">
    <div class="container">
        <div class="nav-wrapper">
            <a href="/" class="brand-logo">
                {% include nav/TiaMariaLogo.svg %} {% include nav/TiaMariaLogotipo.svg %}
            </a>

            <a href="#" data-target="sideNav" class="sidenav-trigger">
                <i class="fas fa-lg fa-bars"></i>
            </a>
        </div>

        <ul class="right hide-on-med-and-down">
            <li>
                <a href="#" class="primary-color-text">
                    <i class="fas fa-lg fa-map-marker-alt"></i> Av. Eduardo Mondlane, Cidade de Tete
                </a>
            </li>

            <li>
                <a href="tel:+258 84 013 4804" class="primary-color-text">
                    <i class="fas fa-lg fa-phone"></i> 84 013 4804
                </a>
            </li>

            <li>
                <a href="mailto:{{ site.email }}" class="primary-color-text">
                    <i class="fas fa-lg fa-envelope"></i> {{ site.email }}
                </a>
            </li>
        </ul>
    </div>
</nav>