<footer class="page-footer center">
    <div class="container">
        <img src="{{ site.logo }}" alt="Logotipo {{ site.title }}" height="80">

        <p class="primary-color-text"><i class="fas fa-map-marker-alt"></i> Localização</p>
        <p class="light">Lorem ipsum dolor sit amet consectetur adipisicing elit. Ex quos doloribus vel quidem similique assumenda odio excepturi provident aperiam! Cumque distinctio maxime eum maiores vel suscipit ipsa sequi, magni incidunt.</p>

        <p class="primary-color-text"><i class="fas fa-phone"></i></p>
    </div>
</footer>