<style>
    {% capture include_to_scssify %}
        {% include page-header.scss %}
    {% endcapture %}
    {{ include_to_scssify | scssify }}
</style>

<header class="page-header">
    {% include nav/navbar.html %}

    <div class="header-content center white-text">
        <img src="{{ site.logo }}" alt="" style="width: 50%;">
        <h1 class="bolder">{{ site.title }}</h1>
        <h2 class="bold">{{ site.description }}</h2>

        {% include cta.html %}
    </div>
</header>