<aside id="reservas" class="modal">
    <div class="container modal-content">
        <h4 class="primary-color-text" style="padding: 2rem 0;">Reservas</h4>
    
        <div class="row">
            <form name="Reservas" action="post" netlify class="col s12">
                <div class="row">
                    <div class="input-field">
                        <input type="text" required id="nome" class="validate" placeholder="Seu Nome Completo">
                        <label for="nome">Nome</label>
                    </div>
                </div>

                <div class="row">
                    <div class="input-field">
                        <input type="tel" required id="phone" class="validate" placeholder="Seu nº Celular">
                        <label for="nome">Celular</label>
                    </div>
                </div>

                <div class="row">
                    <div class="input-field">
                        <input type="email" required id="email" class="validate" placeholder="Seu e-mail">
                        <label for="email">E-mail</label>
                    </div>
                </div>

                <div class="row">
                    <div class="input-field">
                        <select name="Serviço a Reservar" class="browser-default multiple">
                            <option value="" disabled selected>Serviços</option>
                            {% for item in site.servicos %}
                                <option value="{{ forloop.index }}">{{ item.title }}</option>
                            {% endfor %}
                        </select>
                    </div>
                </div>

                <div class="row">
                    <div class="col s12 l6">
                        <div class="input-field">
                            <input type="text" class="datepicker" id="date" required class="validate" placeholder="Data a Reservas">
                            <label for="date">Data</label>
                        </div>
                    </div>

                    <div class="col s12 l6">
                        <div class="input-field">
                            <input type="text" class="timepicker" id="time" required class="validate" placeholder="Horário a Reservas">
                            <label for="time">Horário</label>
                        </div>
                    </div>
                </div>

                

                <div class="row">
                    <div class="input-field">
                        <textarea name="Mais Detalhes" id="reservas-mensage" class="validate materialize-textarea" placeholder="Mais Detalhes da sua reserva" required></textarea>
                        <label for="reservas-mensage">Detalhes</label>
                    </div>
                </div>

                <button type="submit" class="btn primary-color-text" style="background: rgba(255, 255, 255, 0.6);">Reserve</button>
                
            </form>
        </div>
    </div>
</aside>