<section id="equipe" class="banner--invert section-grid white">
    <div class="banner__figure hide-on-small-only lazy" data-src="/assets/img/DSC1093.jpg"></div>

    <div class="container">
        <article class="section-content">
            <h4 class="primary-color-text">Nossa Equipe</h4>
                <span class="border"></span>
                
                <div class="section-desc text-justified">
                    <p>Recrutamos para o nosso quadro, profissionais formados adequadamente para suas respectivas funcções. Apostamos também na formação contínua no local de trabalho. Assim, o nosso stuff é constituido por:</p>
                    <ul>
                        <li><b>Chefe de Cozinha e Cozinheiro</b> - profissionais com vários anos de experiência e especializados em pratos tipicos moçambicanos.</li>
                        <li><b>Empregados de mesa e bar</b> - formados pela nossa instituição para bem servir a sí nosso estimado cliente.</li>
                    </ul>
                </div>
        </article>
    </div>
</section>