<section id="equipe" class="banner--invert section-grid white">
    <div class="banner__figure hide-on-small-only lazy" data-src="/assets/img/DSC1093.jpg"></div>

    <div class="container">
        <article class="section-content">
            <h4 class="primary-color-text">Nossa Equipe</h4>
                <span class="border"></span>
                
                <div class="section-desc">
                    <p>Recrutamos para o nosso quadro profissionais formados adequadamente para respectivas funcções. Apostamos também na formação contínua no local de trabalho</p>
                </div>
        </article>
    </div>
</section>