<section class="banner--invert section-grid white">
    <div class="banner__figure hide-on-small-only lazy" data-src="/assets/uploads/man-night-bar-barman-110472.jpg"></div>

    <div class="container">
        <article class="section-content">
            <div class="container">
                <p class="primary-color-text text-large"><i class="fas fa-quote-left"></i> Nada melhor do que um bom drink para fazer digestão depois de deliciar-se dos pratos, mas também claro antes podes relaxar com teus amigos tomando cervejas ou outras várias opções que podes apreciar abaixo, "saúde!" <i class="fas fa-quote-right"></i></p>

                <a href="#drinks" class="btn-large modal-trigger waves-effect waves-light">Shots <i class="fas fa-cocktail"></i></a>
            </div>
        </article>
    </div>
</section>

<div id="drinks" class="modal bottom-sheet">
    <div class="modal-content">
        {% include restaurante/bebidas.html %}
    </div>
</div>