<section class="banner section-grid white">
    <div class="container">
        <article class="section-content">
            <div class="container">
                <p class="primary-color-text text-large"><i class="fas fa-quote-left"></i> Desde pratos típicos da Cidade de Tete, nossa sede, a pratos típicos moçambicanos e internacions, oferecemos várias opções para satisfazer suas necessidades e claro, matar a sua fome :) <i class="fas fa-quote-right"></i></p>
    
                <a href="/assets/uploads/Menu.pdf" class="btn-large waves-effect waves-light">Nosso Menu <i class="fas fa-file-pdf"></i></a>
            </div>
        </article>
    </div>

    <div class="banner__figure hide-on-small-only lazy" data-src="/assets/uploads/pratostipicosdatiamaria.jpg"></div>
</section>