---
layout: compress
---

<!DOCTYPE html>
<html lang="pt">
    {% include head.html %}
    <body>
        {% include nav/navbar.html %}

        <main class="animate-bottom">
            {% include page-header.html %}
            
            <div id="main-content" class="scrollspy">
                {{ content }}
            </div>
        </main>
        
        {% include contact-form/contact-modal.html %}
        {% include reservas.html %}
        {% include fab.html %}
        {% include footer.html %}
        {% include scripts/scripts.html %}
    </body>

</html>