<section id="contactos" class="section scrollspy white">
    <div class="container section-content">
        <h4 class="primary-color-dark-text">Fale Connosco</h4>
        <span class="border"></span>

        <div class="section-desc">
            <div class="section-grid">
                <article>
                    {% include contact-form/form.html %}
                </article>
                
                <article style="padding-left: 2rem;">
                    <p class="bold">Localização</p>
                    <p class="light">Av. Eduado Mondlane, <br> por trás do INAS (Instituto Nacional de Acção Social) <br> Cidade de Tete, Moçambique</p>

                    <p class="bold">Contactos</p>
                    <p class="light">
                        <a href="mailto:{{ site.email }}" title="Email" class="black-text">
                            <i class="material-icons">email</i>
                            {{ site.email }}
                        </a> <br>

                        <a href="mailto:reservas@restaurantetiamaria.com" title="Email" class="black-text">
                            <i class="material-icons">alternate_email</i>
                            reservas@restaurantetiamaria.com
                        </a> <br>

                        <a href="tel:+258 84 915 8049" title="Celular" class="black-text">
                            <i class="material-icons">phone_iphone</i>
                            +258 84 915 8049
                        </a> <br>

                        <a href="tel:+258 82 580 0990" title="Celular" class="black-text">
                            <i class="material-icons">phone_android</i>
                            +258 82 580 0990
                        </a> <br>
                    </p>
                </article>
            </div>
        </div>
    </div>

    <div class="video-container">
        <iframe src="https://www.google.com/maps/embed?pb=!1m14!1m8!1m3!1d7664.410438068221!2d33.587982!3d-16.158364!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x1926478e428aa3b9%3A0xfffe013f7ce50cf0!2sAv.%20Eduardo%20Mondlane%2C%20Tete%2C%20Mozambique!5e0!3m2!1sen!2sus!4v1587535157513!5m2!1sen!2sus" frameborder="0" style="border:0;" allowfullscreen="" aria-hidden="false" tabindex="0"></iframe>
    </div>
</section>