<section class="section scrollspy white-text" id="historia">
    <div class="container section-content">
        <div class="section-grid">
            <article>
                {% for item in site.historia limit: 1 %}
                <h4>{{ item.title }}</h4>

                <span class="border-white"></span>

                <div class="light section-desc text-justified">
                    {{ item.content }}
                </div>
            {% endfor %}
            </article>

            <article></article>
            <article></article>
        </div>

        <a href="/sobre/#historia" class="btn waves-effect waves-primary white primary-color-text">Conheça-nos Mais</a>
    </div>
</section>