<section id="sobre" class="section scrollspy">
    <div class="container">
        <section class="section-grid">
            <ul class="section-grid tabs tabs-fixed-width z-depth-1">
                {% for item in site.sobre %}
                    <li class="tab waves-effect waves-primary">
                        <a href="#sobreTab{{ forloop.index }}" class="primary-color-text" title="{{ item.title }}">{{ item.title }}</a>
                    </li>
                {% endfor %}
            </ul>

            <div class="row">
                {% for item in site.sobre %}
                    <div class="col s12" id="sobreTab{{ forloop.index }}">
                        <div>
                            <div class="text-justified light">
                                <blockquote>
                                    <h4 class="primary-color-text">{{ item.title }}</h4>
                                    {{ item.content }}
                                </blockquote>
                            </div>
                        </div>
                    </div>
                {% endfor %}
            </div>
        </section>

        <div class="center">
            <a href="/sobre/" class="btn waves-effect waves-light">Saiba Mais</a>
        </div>
    </div>
</section>