<section id="sobre" class="section scrollspy white-text">
    <div class="container" style="padding: 5rem 0;">
        <div class="section-grid">
            <article>
                {% for item in site.sobre offset: 3 limit: 1 %}
                    <h4>{{ item.title }}</h4>

                    <span class="border-white"></span>

                    <div class="light" style="padding: 3rem 0; margin-top: 1rem;">
                        {{ item.content }}
                    </div>

                    <a href="/sobre/" title="Sobre Nós" class="btn waves-effect waves-light">Saiba Mais</a>
                {% endfor %}
            </article>

            <article></article>
            <article></article>
        </div>
    </div>
</section>